button.btn.btn-default.btn-search {
    height: 53px;
}
form.search {
    width: 55%;
    margin: auto;
}
input.form-control {
  border: 2px solid rgba(0, 0, 0, 0.1);
}
form.login-form {
    width: 45%;
    margin: auto;
    margin-top: 20px;
}
.main-content {
    margin-top: 20px;
}
ul
{
list-style-type: none;
}
p.error-message {
    color: red;
}
a.category {
    color: black;
}
ul.category-list {
    margin-left: 100px;
}
.fh5co-post-entry article h2 {
    font-size: 15px;
}
.fh5co-post-entry.single-entry .fh5co-article-title {
    font-size: 16px;
}
img.header-image {
    max-width: 70%;
}
@media (max-width:480px){
  form.search{
    width: 75%;
  }
  .related-article-row > .relatedArticle:nth-child(2n+1){
    clear: left;
  }/*
  img.logo {
      margin-top: 60px;
      margin-left: 10%;
  }*/
  #fh5co-header {
    padding-bottom: 1em !important;
  }
}
@media (min-width:481px) and (max-width: 767px) {
  .row > article:nth-child(2n+3) {
    clear: left;
  }
  .related-article-row > .relatedArticle:nth-child(3){
    clear: left;
  }/*
  img.logo {
      margin-top: 60px;
      margin-left: 10%;
  }*/
}
/*
@media (min-width: 992px) and (max-width: 1199px) {
  .row > article:nth-child(3n+4) {
    clear: left;
  }
}*/
@media (min-width: 768px) {

  form.search{
    width: 30%;
  }
  .row > article:nth-child(4n+5) {
    clear: left;
  }
  .related-article-row > .relatedArticle:nth-child(3){
    clear: left;
  }
  .web-categories{
    display: none;
  }
  /*
  img.logo {
      margin-top: 60px;
      margin-left: 60%;
  }*/
}
img.img-thumbnail.title-photo {
    width: 150px;
    height: 110px;
}
cite {
    padding-top: 20px;
    display: block;
    font-size: 16px;
    font-style: normal;
    color: gray;
}
.article-photos {
    /*
    border: 2px solid black;
    */
    margin-top: -23px;
}
a.edit-paragraph {
    margin-left: 350px;
    width: 100px;
}
#fh5co-header #fh5co-logo {
    margin-left: 10px;
}
/*
img.writer-photo {
    max-width: 100%;
    border-radius: 41%;
}
.writer-info.col-md-2.text-center {
    margin-left: 42%;
}*/
.writer-photo {
    width: 160px;
    margin: 0 auto;
}
/*
p.writer-bio.text-center {
    width: 160px;
    margin: 0 auto;
}*/
.circular {
    border-radius: 25%;
}
a.btn.btn-primary.whatsapp-share {
    background: #069a1c;
    border: #069a1c;
    text-decoration: none;
}
a.btn.btn-primary.facebook-share {
    background: rgba(16, 41, 82, 0.72);
    border: #526482;
    text-decoration: none;
}
cite.text-center {
    margin-bottom: 25px;
    /* margin-top: 35px; */
}
.web-category{
  text-align: left;
}
.web-categories-title{
  text-align: left;
}
div#alertModal {
    z-index: 99999;
}
img.article-image {
    width: 75%;
    height: 150px;
    margin: auto;
}
.container.related-article {
    width: 100%;
}
.comments {
    width: 80%;
    margin: auto;
    /*margin-bottom: 60px;*/
}
p.user-comment {
    border: 2px solid beige;
    border-radius: 13px;
    font-family: initial;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 10px;
}
cite.text-center.commenter {
    padding: 0;
    margin: 0;
}
.reviewed-comments {
    max-height: 550px;
    overflow: auto;
}
a.fa-category {
    color: #222222;
}
.fh5co-post-entry article .content-article a {
    text-decoration: inherit;
}
img.ads-campus {
    width: 100%;
    height: auto;
}
.fh5co-post-entry article .content-article {
    padding-top: 0em;
}
.ads {
    margin-top: 20px;
}/*
img.ads-header {
    width: 100%;
}*/
header#fh5co-header {
    padding-bottom: 10px;
}
p.encode.relatedArticleTitile {
    font-size: 12px;
    margin-bottom: 5px;
}
figure.animate-box.fadeIn.animated {
    margin-bottom: 10px;
}
.web-categories.container {
    font-size: 15px;
}
.article-text {
    font-size: 15px;
}
p.writer-bio.text-center {
    font-size: 15px;
}
.article-text {
    font-size: 15px;
}
a.article-category {
    font-size: 15px;
}
.fh5co-post-entry article figure {
    margin-bottom: 10px;
}
span.fh5co-meta.fh5co-date.article-date {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
}
h2.fh5co-article-title.encode {
    margin-bottom: 5px;
    margin-top: 5px;
}
