<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
      {% load static %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Campus250 is the first campus news site in Rwanda. Covering campus news &amp; events in all universities and higher learning institutions"/>
      <title> Campus250 </title>
      {% block title %}
    	<meta property="og:type"          content="website" />
    	<meta property="og:title"         content="Campus250" />
      {% endblock %}
      <script src='{% static 'jquery/dist/jquery.min.js'%}'></script>
      <!-- Google fonts -->
      <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
      <!--Animate -->
      <link rel="stylesheet" href='{% static 'animate.css/animate.css'%}' type='text/css'>
      <!-- Icomoon -->
    	<link rel="stylesheet" href='{% static 'icomoon-bower/style.css'%}' type='text/css'>
      <!-- Bootstrap  -->
    	<link rel="stylesheet" href='{% static 'bootstrap/dist/css/bootstrap.css'%}' type='text/css'>
      <link rel="stylesheet" href='{% static 'css/style.css'%}' type='text/css'>
      <link rel="stylesheet" href='{% static 'css/campus.css'%}' type='text/css'>
      <!-- Shortcut icon -->
      <link rel="shortcut icon" type="image/x-icon" href='{% static 'logo/campus_250_logo.png' %}' />
    </head>
    <body>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1128072777285328";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>


      <!--  Side bar -->
      <div id="fh5co-offcanvas">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                    <h3 class="heading text-center">Categories</h3>
                    <ul>
                      <li><a class="category" href="/">Home</a></li>
                      {% for category in categories %}
                      <li><a class="category" href="/category/{{category.id}}">{{category.category_name}}</a></li>
                      {% endfor %}
                    </ul>
                    <div class="text-center">
                       <h3 class="heading">Abo turibo</h3>
                       <p>Campus250 ni urubuga rw` abiga mu mashuri makuru ndetse na kaminuza byo mu Rwanda</p>
                    </div>
              </div>
              <div class="col-md-6 text-center">
                  <h3 class="heading">Twandikire</h3>
                     <form>
                       {% csrf_token %}
                       <!-- first name -->
                       <input type='text' placeholder='Amazina' id='feedbackNames' name='names' class='form-control' required>
                       <br>
                       <input type='text' placeholder='Email' id='feedbackEmail' name='email' class='form-control' required>
                       <br>
                       <textarea placeholder='Ubutumwa' id='feedbackMessage' name='message' class='form-control' required></textarea>
                       <br>
                       <input type="button" class="btn btn-default" id="ohereza" value="Ohereza">
                     </form>
                  <ul class="fh5co-social">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                  </ul>
             </div>
            </div>
            <a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span class="glyphicon glyphicon-remove remove-icon"><span>Close</span></span></a>
        </div>
      </div>
      {% block header %}
      <!-- Header -->
      <header id="fh5co-header">

        <div class="container-fluid">
          <div class="row">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
               <div id="fh5co-logo" class="col-lg-12 col-md-12 text-center">
                <a href="/"><img class="logo" src='{% static 'logo/campus_250_logo.png' %}' alt="Image"></a>
              </div>
            <!--
            <div class="col-lg-5">
               <a href="#"><img class="ads-header" src="/uploaded/media/campus250ad.jpg" alt="Image"></a>
            </div>-->
          </div>
        </div>
      </header>
      <!-- END #fh5co-header -->
      {% endblock %}
              <!--<a href="#"><img class="" src="/uploaded/media/IMG-20170329-WA0071.jpg" alt="Image"></a>-->
      {% block search %}
      <div class="container-fluid search">
        <!-- search -->
        <form method="get" action="/search" class="search">
            <div class="input-group">
                <input type="text" id="search-text" class="form-control" placeholder="Search..." name="search-article">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-search" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div><!-- Input Group -->
        </form><!-- Search Form -->
        <p class="text-center"> {{message}} </p>
     </div>
     <!-- End of search form -->
     {% endblock %}
     <!-- Main block -->
     {% block main %}
     {% endblock %}
     <!-- End Main block -->

     <!-- alerts modal -->
     <div class="modal fade" id="alertModal" role="dialog">
       <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title text-center">Campus250</h4>
           </div>
           <div class="modal-body">
             <p class="alert-message"></p>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-primary btn-alert-ok" data-dismiss="modal" >Ok</button>
           </div>
         </div>

       </div>
     </div>
     <!-- End of a Modal -->

      <!-- Footer -->
      <footer id="fh5co-footer">
        <ul class="fh5co-social">
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="https://web.facebook.com/campus250/"><i class="icon-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/campus250/"><i class="icon-instagram"></i></a></li>
        </ul>
    		<p><small>&copy; 2016 - 2017. Campus250. All Rights Reserved.<br> Tel: (+250) 789 980 791 | (+250) 726 092 674<!-- <br> Designed by <a href="#">franky</a>--></small></p>
    	</footer>
      <!-- End of footer -->
      <script>
           (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

           ga('create', 'UA-82286368-1', 'auto');
           ga('send', 'pageview');
      </script>
      <!--bootstrap -->
      <script src='{% static 'bootstrap/dist/js/bootstrap.min.js'%}'></script>
      <!-- jQuery Easing -->
      <!--
      <script src='{% static 'jquery.easing/js/jquery.easing.js'%}'></script>
      -->
      <!-- Waypoints -->
      <script src='{% static 'waypoints/lib/jquery.waypoints.min.js'%}'></script>
      <!-- Main JS -->
      <script src='{% static 'js/main.js'%}'></script>
      <!-- Campus JS -->
    	<script src='{% static 'js/campus.js'%}'></script>
    </body>
</html>
