{% extends "base.html"%}
{% block search %}
{% endblock %}
{% block main %}
<div class="container-fluid">
  <div class="col-md-12 text-center">
    <form class="" action="/edit-article-photos" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {% load bootstrap %}
      <table>
        {{articlePhoto|bootstrap}}
        <input type="text" value="{{photoId}}" name="photo_Id" hidden>
        <input class="btn btn-success" type="submit">
      </table>
    </form>
    <a class="btn btn-primary" href="/review/{{articleId}}">Back</a>
  </div>
</div>
{% endblock %}
