{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="container-fluid main-content">
  <div class="row fh5co-post-entry">
    {% for article in articles %}
        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box web-article">
         <figure class="">
           <a class="article-link" href="/article/{{article.link}}"><img class="article-image thumbnail" src="{{ article.title_image.url}}" alt="Image" class="img-thumbnail title-photo"></a>
         </figure>
         <span class="fh5co-meta"><a class="article-category" href="/article/{{article.id}}">{{article.category}}</a></span>
         <h2 class="fh5co-article-title encode"><a href="/article/{{article.id}}">{{article.title}}</a></h2>
         <span class="fh5co-meta fh5co-date article-date">{{article.time}}</span>
       </article>
   {% endfor %}
 </div>
 <div class="col-lg-12 col-md-12 text-center">
   <div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}"> Previous </a>
        {% endif %}

        <span class="current">
            {{ articles.number }} / {{ articles.paginator.num_pages }}.
        </span>

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}"> Next </a>
        {% endif %}
    </span>
   </div>
 </div>
</div>
{% endblock %}
