
{% extends "writer-main-page.html" %}
{% block content %}
    <div>
      <p><strong>N.B:</strong></p>
      <p> <strong>*</strong>  before you submit an article please check if the category of an article exists,<br>if not please go to New Category section and create it.</p>
      <p><strong>*</strong> Before uploading a picture please resize the picture and compress it to meet the requirements, follow this link to compress all your pictures
        <a href="http://www.imageoptimizer.net"> Compress</a></p>
    </div>
    <form action="/add-article" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% load bootstrap %}
      <table>
        {{ newarticle|bootstrap }}
        <div id="form_set">
        {{ formset|bootstrap }}
        </div>
        <tr>
          <td>
            <input type="submit" class="btn btn-primary" value="send">
            <input type="button" id="addphoto" class="btn btn-primary" value="Add another Photo">
          </td>
        </tr>
      </table>
    </form>
    <div id="empty_form" style="display:none">
       <table class='no_error'>
           {{ formset.empty_form|bootstrap }}
       </table>
    </div>
    <script>
        $('#addphoto').click(function() {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
    </script>
{% endblock %}
