{% extends "writer-main-page.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-6">
        <form action="/add-category" method="post">
          {% csrf_token %}
          {% load bootstrap %}
          <table>
            {{ category|bootstrap }}
            <tr>
              <td>
               <input type="submit" class="btn btn-primary" value="send">
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="col-md-6">
        <div class="fh5co-menu">
          <div class="fh5co-box">
            <h3 class="heading"> Stats </h3>
            <table class="table table-bordered">
              <tr>
                <th class="heading"> Categories</th>
                <th class="heading"> Articles</th>
                <th> Edit</th>
              </tr>
            {% for category in categories %}
               <tr>
                  <th>{{category.category}}</th>
                  {% if category.length == 0 %}
                  <th> <a href="/delete-category/{{category.category.id}}"> <span class="glyphicon glyphicon-remove remove-icon"></span> </a> </th>
                  {% else %}
                  <th>{{category.length}}</th>
                  {% endif %}
                  <th><a href="/edit-category/{{category.category.id}}"><span class="glyphicon glyphicon-edit edit-category"></span></a></th>
               </tr>
            {% endfor %}
          </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
