{% extends 'base.html' %}
{% block title %}
    <!--
    <meta property="og:url"           content="http://www.campus250.com/article/{{article.id}}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Campus250" />
    <meta property="og:description"   content="{{article.title}}" />-->
    <meta property="og:title" content="{{article.title}}" />
    <meta property="og:description" content="{{article.body}}" />
    <meta property="og:image" content="{{article.title_image.url}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block main %}
<div class="container-fluid">
  <div class="row fh5co-post-entry single-entry">
    <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <figure class="animate-box">
        <img class="header-image img-thumbnail" src="{{article.title_image.url}}" alt="Image">
      </figure>
      <h6 class="fh5co-article-title animate-box encode">{{article.title}}</h6>
      <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
        <div class="row">
          <div class="col-lg-12 cp-r animate-box">
              <cite><i class="fa fa-user"></i> {{article.writer.user.username }},   <i class="fa fa-calendar"></i> {{article.time.time}}
              <a href="#" class="fa-category"><i class="fa fa-tags"></i>{{article.category}}</a></cite>
              <p class="article-body encode article-text">{{article.body}}</p>
              <p class="article-conclusion encode article-text">{{article.conclusion}}</p>
              {% for photo in photos %}
                 <div class="article-photos">
                   <figure class="animate-box">
                      <img src="{{ photo.image.url}}" alt="Image" class="img-thumbnail article-photo">
                   </figure>
                   <p class="encode article-text">{{ photo.image_description }}</p>
                 </div>
              {% endfor %}
              <div class="social-share">
                   <a class="btn btn-primary whatsapp-share" href="whatsapp://send?text={{article.title}} - https://www.campus250.com/article/{{article.link}}" data-action="share/whatsapp/share">
                       <span class="fa fa-whatsapp" style="font-size:24px;"></span>
                   </a>
                   <a class="btn btn-primary facebook-share" href="https://www.facebook.com/dialog/feed?app_id=1128072777285328&display=popup&link=https://www.campus250.com/article/{{article.link}}&redirect_uri=https://www.campus250.com&name={{article.title}}&picture=http://www.campus250.com/{{article.title_image.url}}">
                     <span class="fa fa-facebook" style="font-size:24px;"></span>
                   </a>
              </div>
          </div>
          <img src="{{article.writer.profile.url}}" alt="Image" class="img-responsive circular writer-photo">
          <p class="writer-bio text-center">{{article.writer.user.username}} is {{article.writer.bio}}</p>

          <!-- Comments section -->

          <div class="comments">
            <div class="reviewed-comments">
                {% if iscomments == False %}
                    <cite class="text-center"><i>Be the first to comment on this!!</i> </cite>
                {% else %}
                    <cite class="text-center"><i>Comments</i> </cite>
                    {% for comment in comments %}
                       <p class="user-comment">{{comment.comment}}</p>
                       <cite class="text-center commenter">{{comment.name}} {{comment.time}}</cite>
                    {% endfor %}
                {% endif %}
            </div>
            <cite class="text-center"><b>Send a Comment</b> </cite>
            <div class="comment-form">
              <form id="commentform">
                {% csrf_token %}
                <input type="number" id='articleId' name="article-id" value="{{article.id}}" hidden>
                <input type='text' placeholder='Names' id='commentName' name='names' class='form-control' required>
                <br>
                <input type='text' placeholder='Email' id='commentEmail' name='email' class='form-control' required>
                <br>
                <textarea placeholder='Message' id='commentMessage' name='message' class='form-control' required></textarea>
                <br>
                <input type="button" class="btn btn-primary" id="sendComment" value="Submit">
              </form>

           </div>
         </div>

         <!-- End of comment section -->
        </div>

        <div class="ads">
          <a href="#"><img class="ads-campus" src="/uploaded/media/corelabsplus.jpg" alt="Image"></a>
        </div>

      </div>
      <cite class="text-center"><i>Other Articles</i> </cite>
        <div class="other-articles">
          <div class="container related-article">
            <div class="row related-article-row">
            {% for post in related %}
                <div class="relatedArticle col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xxs-6">
                  <!-- col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 -->
                  <div class="row">
                    <div class="col-md-6">
                      <figure class="">
                         <a href="/article/{{post.id}}"><img src="{{ post.title_image.url}}" alt="Image" class="img-thumbnail title-photo"></a>
                      </figure>
                    </div>
                    <div class="col-md-6">
                      <p class="encode relatedArticleTitile"><b>{{post.title}}</b></p>
                      <span class="fh5co-meta"><a href="/article/{{post.id}}">{{post.category}}</a></span>
                    </div>
                  </div>
                 </div>
           {% endfor %}
          </div>
         </div>
        </div>
        <div class="web-categories container">
          <cite class="web-categories-title"><i>CATEGORIES</i></cite>
          <ul>
            <li class="web-category"><a class="" href="/">Home</a></li>
            {% for category in categories %}
              <li class="web-category"><a class="" href="/category/{{category.id}}">{{category}}</a></li>
            {% endfor %}
          </ul>
        </div>
    </article>
  </div>
</div>
{% endblock %}
