{% extends 'base.html'%}
{% block search %}
{% endblock %}
{% block main %}
 <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
            <ul class="category-list">
               <li><a href="/all-articles">All Articles</a></li>
               <li><a href="/new-article-page">New Article</a></li>
               <li><a href="/new-writer">New Writer</a></li>
               <li><a href="/new-category">New Category</a></li>
               <li><a href="/review-page">Review</a></li>
            </ul>
      </div>
      <div class="col-md-8">
      {% block content %}
      {% endblock %}
     </div>
    </div>
    <div class="text-center">
        <p> Logged in as {{writer.first_name}}</p>
        <a class="btn btn-default" href="/log-out">Logout</a>
    </div>
 </div>

{% endblock %}
